@{
    ViewBag.Title = "Đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="alert alert-info">
            Bạn đã đặt hàng thành công.
        </div>
        <div>
            <a class="btn btn-info" href="/Home/Index">Về trang chủ </a>
        </div>
    </div>
</div>